/* Generate font-size classes for lg down and lg up
** This can be altered by adding on to or removing items from the $text-sizes variable
========================================================================== */
@each $name, $size in $text-sizes {
  .text-#{$name} {
    font-size: $size;
  }

}

/* Generate css variables.
** All colors added in the $exp-colors array will be generated as: --color-name: #000000;
========================================================================== */
body {
  @each $name, $hex in $colors {
    --color-#{$name}: #{$hex};
  }
}

body,
html {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-white);
  background: var(--color-black);

  --background-primary: var(--color-black-1);

}

a {
  color: var(--color-white);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: 400;
}

.main {
  overflow-x: hidden;
}


.bg-primary {
  background-color: var(--background-primary);
  border: none;
  @include mq(sm) {
    border: 1px solid var(--color-grey-1);
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}
