/* Colors
========================================================================== */
$colors: (
  'black': #000000,
  'black-1': #181110,
  'white': #ffffff,
  'orange': #FF4800,
  'grey': #404040,
  'grey-1': #8D8D8D,
);

/* Sizes
========================================================================== */
$text-sizes: (
  9xl: 128px,
  8xl: 88px,
  7xl: 72px,
  6xl: 60px,
  5xl: 48px,
  4xl: 36px,
  3xl: 30px,
  2xl: 24px,
  xl: 20px,
  lg: 18px,
  base: 16px,
  sm: 14px,
  xs: 12px,
  xxs: 10px,
);
