.btn {
  text-align: center;
  font-size: map-get($text-sizes, sm);
  padding: 8px 32px;

  &--primary {
    background-color: var(--color-grey);
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-orange);
  }

}
