.c-hero {
  position: relative;
  height: 100vh;
  min-height: 500px;

  @include mq(lg) {
    min-height: 800px;
  }

  &__content {
    position: absolute;
    inset: 0;
    transform: translateY(30%);

    @include mq(lg) {
      transform: translateY(40%);
    }
  }

  &__title {
    text-align: center;
    font-size: map-get($text-sizes, 4xl);
    margin-bottom: 0;

    @include mq(lg) {
      font-size: map-get($text-sizes, 5xl);
    }
  }

  &__paragraph {
    text-align: center;
    font-size: map-get($text-sizes, base);
    margin-bottom: 32px;
  }

  &__buttons {
    display: flex;
    gap: 32px;
  }

  &__background {
    inset: 0;
    position: absolute;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      pointer-events: none;
    }
  }
}

