.c-hero {
  position: relative;
  height: 100vh;
  min-height: 500px;

  @include mq(sm) {
    min-height: 900px;
  }

  &__content {
    position: absolute;
    inset: 0;
    transform: translateY(25%);

    @include mq(lg) {
      transform: translateY(40%);
    }
    @include mq(md, lg) {
      transform: translateY(30%);
    }

  }

  &__title {
    @include px-to-rem(font-size ,calc(map-get($text-sizes, 4xl) - 1px));
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;

    @include mq(sm) {
      @include px-to-rem(font-size ,calc(map-get($text-sizes, 5xl) + 4px));
    }
  }

  &__paragraph {
    text-align: center;
    @include px-to-rem(font-size ,calc(map-get($text-sizes, 2xl)));
    margin-bottom: 32px;

    @include mq(lg) {
      @include px-to-rem(font-size ,calc(map-get($text-sizes, 2xl) + 2px));
    }

    @include mq(sm, lg) {
      @include px-to-rem(font-size ,calc(map-get($text-sizes, 2xl) + 4px));
      margin-bottom: 84px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: auto 64px;

    @include mq(md) {
      flex-direction: row;
      width: 100%;
      gap: 32px;
      margin: auto;
    }

    a {
      padding: 14px 48px;
      @include px-to-rem(font-size ,calc(map-get($text-sizes, 2xl)));

      @include mq(lg, wide) {
        padding: 14px 28px;
      }
      @include mq(md, lg) {
        padding: 14px 64px;
        @include px-to-rem(font-size ,calc(map-get($text-sizes, 2xl)) + 4px);
      }
    }
  }

  &__background {
    inset: 0;
    position: absolute;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      pointer-events: none;
    }
  }

  &__btn-down {
    display: none;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,.8);
    border-radius: 60%;

    @include mq(md, lg) {
      display: block;
    }
    svg {
      transform: rotate(90deg);
      padding: 20px 16px;
    }
  }
}

