%section-title {
  font-size: map-get($text-sizes, 4xl);
  text-align: center;

  @include mq(md) {
    text-align: left;
  }

  &::after {
    content: '';
    display: block;
    border-bottom: 4px solid var(--color-orange);
    width: 38px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;

    @include mq(md) {
      margin: unset;
    }
  }
}
