.o-section {
  padding: 3.125em 0;
  @include mq(desktop) {
    padding: 4.375em 0;
  }
}
.o-section__wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;

  @include mq(wide) {
    max-width: calc(1164px - 2em);
  }
  @include mq(lg, wide) {
    max-width: calc(920px - 2em);
  }
  @include mq(md, lg) {
    max-width: calc(700px - 2em);
  }
  @include mq(sm, md) {
    max-width: calc(630px - 2em);
  }

}
