%section-title {
  font-size: map-get($text-sizes, 4xl);
  text-align: center;
  cursor: default;

  @include mq(md) {
    text-align: left;
  }

  &::after {
    content: '';
    display: block;
    border-bottom: 4px solid var(--color-orange);
    width: 38px;
    margin: 0 auto;
    padding-top: 8px;
    transition: width 0.3s ease;

    @include mq(lg) {
      margin: unset;
    }
  }

  &:hover::after {
    width: 100px;
  }
}

