/* Fonts
========================================================================== */
@font-face {
  font-display: swap;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/catamaran/Catamaran-Regular.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/catamaran/Catamaran-Medium.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/catamaran/Catamaran-Bold.ttf') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto_Slab/RobotoSlab-Regular.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/roboto_Slab/RobotoSlab-Medium.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/roboto_Slab/RobotoSlab-Bold.ttf') format('woff2');
}

$font-fallback: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
$font-primary: 'Catamaran', $font-fallback;
$font-secondary: 'Roboto', $font-fallback;
