.header {
  $block: &;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mq(sm, lg) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__navbar-container {

    @include mq(md, lg) {
      justify-content: center;
    }
  }

  &__navbar-nav {
    position: relative;
    justify-content: center;
    gap: 48px;
    list-style: none;
    padding: 64px;
    display: none;

    @include mq(sm) {
      display: flex;
      justify-content: flex-end;
      gap: 32px;
      padding: 0;
      margin-top: 32px;
    }

    @include mq(sm, lg) {
      justify-content: space-around;
    }

    &.show-menu {
      display: flex;
      flex-direction: column;
      min-height: 400px;
      overflow-y: scroll;
      inset: 0;
      position: fixed;
      margin: 0;
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.85) 100%);
    }

    #{$block}__nav--close-icon {
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 32px;

      @include mq(sm) {
        display: none;
      }
    }
  }

  &__navbar-logo {
    img {
      width: 100%;
    }
  }

  &__nav-item {
    text-align: left;
    @include mq(sm, md) {
      text-align: center;
    }
    &.active {
      border: none;
      @include mq(md) {
        border-bottom: 1px solid var(--color-orange);
        padding-bottom: 5px;
      }

    }

    @include mq(md) {
      width: auto;
    }

    .nav-link {
      color: var(--color-white);
      font-size: calc(map-get($text-sizes, lg) + 1px);
      text-transform: uppercase;
      text-decoration: none;

      @include mq(md, lg) {
        font-size: calc(map-get($text-sizes, xl));
      }
      @include mq(mobile, md) {
        font-size: calc(map-get($text-sizes, 2xl));
      }
    }
  }

  &__navbar-hamburger-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    @include mq(sm) {
      display: none;
    }
  }

}
