.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mq(md, lg) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__navbar-container {

    @include mq(md, lg) {
      justify-content: center;
    }
  }

  &__navbar-nav {
    justify-content: flex-end;
    gap: 32px;
    list-style: none;
    padding: 0;
    display: none;

    @include mq(md) {
      display: flex;
    }

    @include mq(md, lg) {
      justify-content: space-around;
    }
  }

  &__navbar-logo {
    img {
      width: 100%;
    }
  }

  &__nav-item {

    &.active {
      border-bottom: 1px solid var(--color-orange);
      padding-bottom: 5px;
    }

    .nav-link {
      color: var(--color-white);
      font-size: map-get($text-sizes, sm);
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__navbar-hamburger-icon {
    display: flex;
    justify-content: flex-end;

    @include mq(md) {
      display: none;
    }
  }

}
