.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__navbar-container {
    align-items: center;
  }

  &__navbar-nav {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    list-style: none;
  }

  &__nav-item {

    &.active {
      border-bottom: 1px solid var(--color-orange);
      padding-bottom: 5px;
    }

    .nav-link {
      color: var(--color-white);
      font-size: map-get($text-sizes, sm);
      text-transform: uppercase;
      text-decoration: none;
    }
  }

}
